@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300);
* {
	font-family: 'Open Sans', sans-serif;
	margin: 0px;
	padding: 0px;
	text-decoration: none;
}

/** NAVIGATION BAR **/

#nav_bar {
	z-index: 200;
	top:0;
	position: fixed;
	width: 100%;
	height: 60px;
	background-color: #668b8b;
	color: #ffffff;
	text-align: center;
}

.nav_ctrl {
	font-family: 'Open Sans Condensed'; 
	font-weight: 300;
	color: white;
	font-size: 18px;
	position: absolute;
	top: 50%;
	margin-top: -12px;
}

.nav_ctrl:hover {
	opacity: .5;
}

#n_logo {
	left: 50%;
	margin-left: -45px;
	font-size: 36px;
	margin-top: -25px;
}

#n_log {
	right: 2%;
}

#n_home {
	left: 2%;
}

#n_browse {
	left: 12%;
}

#n_upload {
	left: 20%;
}
